/* Set up basic styles for the navbar */
nav {
  /* background-color: #f8f8f8; */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the logo */
#logo {
  width: 100px;
  height: 50px;
  /* background-color: #333; */
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 30;
}

/* Style the navigation links */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  position: relative;
  margin-right: 20px;
  /* color: white; */
}

nav ul li a {
  color:white;
  text-decoration: none;
  padding: 10px;
}

/* Style the dropdown menus */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  display: block;
}

/* Show the dropdown menu when hovering over a dropdown link */
nav ul li:hover > .dropdown-content {
  display: block;
}

/* Style the search icon */
.search-icon {
  margin-left: 20px;

}

.search-icon a {
  display: flex;
  align-items: center;
}

.search-icon i {
  color: white;
  font-size: 20px;
}

/* Set up some styles for the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

section{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* border-collapse: collapse; */
}



.section-intro{
    background-image: url(https://yaninatrekhleb.github.io/restaurant-website/img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
    height: 500px;
    background-size: cover;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}

.section-intro h1{
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 4em;
    margin-top: 200px;
    margin-left: -450px;
}

.section-intro p{
  text-align: center;
  font-weight: 100;
  color: #ffffff;
  font-size: 2em;
  margin-top: -10px;
  margin-left: -450px;
}

.learn{
    display: block;
    padding: 10px 10px;
    border: 2px solid #94BC45;
    color: #231F20;
    background-color: #94BC45;
    margin-top: -10px;
    border-radius: 20px;
    margin-left: -600px;
    width: 100px;
    text-align: center;
}

.learn-wrap{
    flex: 1;
}

a.learn{
    text-decoration: none;
}


.icons{
  display: flex;
  flex-direction: row;
}

.icons img{
  height: 120px;
  width: 180px;
  margin-left: 10px;
}

.icons>div{
  justify-content: space-around;
  align-items: space-around;
}

u{
  text-decoration-color:  #94BC45;
  text-decoration-thickness:10px;
  text-underline-offset:1px ;
}

.offer >h1{
  color: #004A4D;
  text-align: center;
  justify-content: center;
}


.grid-controller{
  display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 50px;
}
.grid-controller>div{
  border-right:1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.about{
  background-color:whitesmoke;
}

.about-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-grid>div{
  margin-top: 60px;
  align-items: baseline;
  margin-left: 150px;
  /* justify-content: space-between; */
}

.about-grid img{
  margin-left: 50px;
  /* align-items: flex-end; */
}