/* Set up basic styles for the navbar */
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}



/* Style the logo */

#logo img{
  width: 70px;
  mix-blend-mode: multiply; 
}

#logo span{
  margin-top: -20%;
  margin-left: 70px;
}

/* Style the navigation links */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  color:white;
  text-decoration: none;
  padding: 10px;
}

/* Style the dropdown menus */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  display: block;
}

/* Show the dropdown menu when hovering over a dropdown link */
nav ul li:hover > .dropdown-content {
  display: block;
}

/* Style the search icon */
.search-icon {
  margin-left: 20px;

}

.search-icon a {
  display: flex;
  align-items: center;
}

.search-icon i {
  color: white;
  font-size: 20px;
}

/* Set up some styles for the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

section{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}



.section-intro{
    background-image: url('./images/pexels-fauxels-3182773.jpg');
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro::before {
  background-color: #004A4D;
  content: '';
  display:block;
  height: 68%;
  position: absolute;
  width: 100%;
  margin-top: -10px;
  margin-left:0px;
  opacity: 0.8;
}

.section-intro header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
    opacity: 0.99;
}

.section-intro h1{
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 4em;
    margin-top: 200px;
    margin-left: -450px;
    opacity: 0.99;
}

.section-intro p{
  text-align: center;
  font-weight: 100;
  color: #ffffff;
  font-size: 2em;
  margin-top: -10px;
  margin-left: -450px;
  opacity: 0.99;
}

.learn{
    display: block;
    padding: 10px 10px;
    border: 2px solid #94BC45;
    color: #231F20;
    background-color: #94BC45;
    margin-top: -10px;
    border-radius: 20px;
    margin-left: -600px;
    width: 100px;
    text-align: center;
    opacity: 0.99;
}

.learn-wrap{
    flex: 1;
}

a.learn{
    text-decoration: none;
}


.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons img{
  height: 80px;
  width: 180px;
  margin-left: 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


u{
  text-decoration-color:  #94BC45;
  text-decoration-thickness:10px;
  text-underline-offset:1px ;
}

.offer >h1{
  color: #004A4D;
  text-align: center;
  justify-content: center;
}


.grid-controller{
  display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 50px;
}
.grid-controller>div{
  border-right:1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grid-controller>div img{
  height: 60px;
  border: 1px solid #94BC45;
  border-radius: 50px;
  padding: 10px;
  background-color: #94BC45;
}
.about{
  background-color:whitesmoke;

}

 
.about-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-grid>div{
  margin-top: 60px;
  align-items: baseline;
  margin-left: 150px;
  /* justify-content: space-between; */
}

.about-grid img{
  margin-left: 50px;
  /* align-items: flex-end; */
}

.about-grid p{
  margin-right: 80px;
}





.case-study{
  display: grid;
  grid-template-columns: auto auto ;
  /* margin: 10px; */
}

.case-study>div{
  padding: 10px;
  height: 350px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.left-case{
  background-image: url('./images/2.png');
  color: white;
}

.left-case::before {
  background-color: #004A4D;
  content: '';
  display:block;
  height: 61.8%;
  position: absolute;
  width: 49.5%;
  margin-top: -10px;
  margin-left:-10px;
  /* z-index: 1; */
  opacity: 0.8;
}

.left-case>h2{
  font-weight: bolder;
  margin-left: 30px;
  margin-top: 80px;
  opacity: 0.99;
}

.left-case>button{
  opacity: 0.99;
  color: white;
  background-color: #94BC45;
  border: 1px solid #94BC45;
  border-radius: 20px;
  padding: 10px;
  margin-top: 0px;
}

.right-case{
  background-image: url('./images/1.jpg');
  color: white;
  margin-left: 227px;
}

.right-case>h2{
  font-weight: bolder;
  margin: 80px;
  opacity: 0.99;
}

.right-case>button{
  opacity: 0.99;
  color: white;
  background-color: #004A4D;
  border: 1px solid #004A4D;
  border-radius: 20px;
  padding: 10px;
  margin: -80px;
}
.right-case::before {
  background-color: #94BC45;
  content: '';
  display:block;
  height: 61.8%;
  position: absolute;
  width: 49.5%;
  margin-top: -10px;
  margin-left:-50px;
  /* z-index: 1; */
  opacity: 0.8;
}

.reviews{
  background-color: whitesmoke;
  margin-top: 160px;
  padding: 10px;
}

.reviews>h2{
  text-align: center;
}

.reviews>button{
  margin:130px 600px 20px;
  border: 1px solid #94BC45;
  border-radius: 50px;
  background-color: #94BC45;
  padding: 10px;
}
.review{
  display: grid;
  grid-template-columns: auto auto auto;
  
}

.review>div{
  width: 250px;
  height: 200px;
  margin: 10px auto;
  background: white;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  
}

.review>div:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -23px;
}

.review>div:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 50%;
  bottom: -18px;
}

.review>div p{
  color: #231F20;
}

.review>div i{
  margin-top: 30px;
  font-size:20px;
  color:#94BC45;
}

.review>div h4{
  color: #231F20;
}

.review>div span{
  color: #231F20;
  font-size: smaller;
  font-weight: normal;
  font-stretch: extra-condensed;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: -20px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row div{
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  /* display: table; */
}

.footer{
  background-color: #004A4D;
  color: white;
  justify-content: center;
}
.footer img{
  height: 80px;
  width: 80px;
  mix-blend-mode: multiply;
  /* mix-blend-mode: hard-light; */
  z-index: -1;
}
.footer-div{
  justify-content: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 20px;
}
.footer-div div{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  margin: 10px;
}

.footer-div a{
  color: white;
}
.footer-div ul li{
  list-style-type: none;
}

.links ul li{
  list-style-type: '- ';
  padding: 2px;
}